<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h3>Hello! My name is Long Ha. And this is just a demo "About Me" page with a picture of a puppy and nothing else...</p>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <a href="#" class="thumbnail">
                        <img src="https://01iajxoiw1-flywheel.netdna-ssl.com/wp-content/uploads/2017/11/cute.jpg" alt="puppy">
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>

<% include partials/footer %>