<% include partials/header %>

<div class="container form">
    <form action="/register" method="POST">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <button>Sign up!</button>
    </form>
</div>
<% include partials/footer %>